@using OnionBase.Domain.Entities;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Order>


@{
    ViewData["Title"] = "Siparişlerim";
}

<table class="table">
    <thead>
        <tr>
            <th>Adres</th>
            <th>Ürün Resmi</th>
            <th>Telefon Numarası</th>
            <th>Sipariş Tarihi</th>
            <th>Toplam Ücret</th>
            <th>Sipariş Durumu</th>
            <th>Kargo Durumu</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            @using (Html.BeginForm("PaymentApprove", "AllProducts", new { OrderId = user.OrderId }, FormMethod.Post))
            {
                <tr>
                    <td>@user.OrderDetails.First().Address</td>
                    <td><img src="data:image/jpeg;base64,@user.OrderDetails.First().ProductVariant.Image" width="50" alt="@user.OrderDetails.First().ProductVariant.Color" /></td>
                    <td>@user.OrderDetails.First().PhoneNumber</td>
                    <td>@user.UpdatedTime</td>
                    <td>@user.TotalPrice</td>
                    <td>
                        @if (user.isConfirmed == true)
                        {
                            <p>Onaylandı</p>
                        }
                        @if (user.isConfirmed == false)
                        {
                            <p>Onaylanmadı</p>
                        }
                    </td>
                    <td>
                        @if (user.ShippingCode == null)
                        {
                            <p>Henüz Paketlenmedi</p>
                        }
                        else
                        {
                            <p>Kargonuz yola çıktı. Kargo Takip Kodunuz : <font style="color:blueviolet">@user.ShippingCode</font></p>
                           
                        }

                    </td>
                    <td><a href="@Url.Action("OrderDetail", "AllProducts", new { OrderId = user.OrderId })" style="color:blueviolet">Detaylı Gör</a></td>
                </tr>
            }
            
        }
    </tbody>
</table>